[Unit]
Description=Memory Game 2

[Service]
Type=simple
User=memory
Group=memory
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4792"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/memory2
ExecStart=/home/memory2/start.sh

[Install]
WantedBy=multi-user.target
