/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    text-align: center;
}

.column > p > button {
    width: 100px;
    height: 100px;
    font-size: 3em;
}

.column {
    display: flex !important;
    justify-content: center;
}

.root {
    width: 100%;
}

